129.154.230.113.sslip.io {
    handle /api/* {
        reverse_proxy api-gateway:4000
    }

    handle {
        reverse_proxy frontend:80
    }
}

:80 {
    handle /api/* {
        reverse_proxy api-gateway:4000
    }

    handle {
        reverse_proxy frontend:80
    }
}
